{% load static %}

<div class="header">
    <div class="logo">
        <a href="{% url 'main' %}"><img src="{% static 'img/logo.svg' %}" alt=""></a>
    </div>
    <div class="menu">
        <ul class="menu-list">
            <li> <a href="{% url 'main' %}" {% if request.resolver_match.url_name == 'main' %} class="menu-active" {% endif %}>HOME</a> </li>
            <li> <a href="{% url 'catalog' %}"{% if request.resolver_match.url_name == 'catalog' %} class="menu-active" {% endif %}>PRODUCTS</a> </li>
            <li> <a href="#">HISTORY</a> </li>
            <li> <a href="#">SHOWROOM</a> </li>
            <li> <a href="{% url 'contact' %}"{% if request.resolver_match.url_name == 'contact' %} class="menu-active" {% endif %}>CONTACT</a> </li>
        </ul>
    </div>
    <div class="search">
        <a href="#"><img src="{% static 'img/search.svg' %}" alt=""></a>
    </div>
</div>