<ul>
    <li><a href="{% url 'catalog:category' 0 1 %}" {% if request.resolver_match.url_name == 'category' and request.resolver_match.kwargs.pk == 0 %}
           class="product-selector-active" {% endif %}>все</a></li>
    {% for item in list_names %}
    <li><a href="{% url 'catalog:category' item.pk 1 %}" {% if request.resolver_match.kwargs.pk == item.pk and request.resolver_match.url_name == 'category' %}
           class="product-selector-active" {% endif %}>{{item.name}}</a></li>
    {% endfor %}
</ul>
