{% load static %}
<div class="footer">
    <div class="footer-top">
        <div class="contact">
            <h3 class="footer-header">Contact Us</h3>
            <div class="footer-text">
                <p class="contacts">132A Bridge Road Richmond VIC Australia.
                    <br>
                    <br> Talk to us on 1300 132 info@interior.com</p>
            </div>
        </div>
        <div class="info">
            <h3 class="footer-header">Useful Information</h3>
            <div class="footer-text">
                <div class="info-footer-text">
                    <p class="info-footer1"> <a href="#">Sales terms</a> <a href="#">Customer care</a> <a href="#">Delivery</a> </p>
                    <p class="info-footer2"> <a href="#">Architect accounts</a> <a href="#">Careers Exchanges & returns</a> </p>
                </div>
            </div>
        </div>
        <div class="keep-in-touch">
            <h3 class="footer-header">Let’s Stay in Touch!</h3>
            <div class="footer-text">
                <p class="touch-footer">Suscribe to know about our latest news, products and special offers just for suscribers.</p>
                <input id="before" class="input-footer" type="text" placeholder="your email adress"> </div>
        </div>
    </div>
    <div class="footer-low">
        <p class="copy">© Copyright - INTERIOR {% now "Y" %}. All Rights Reserved.</p>
        <div class="footer-icons">
            <div class="icon-circle"><a href="#"><i class="fab fa-facebook-f"></i></a></div>
            <div class="icon-circle"><a href="#"><i class="fab fa-twitter"></i></a></div>
            <div class="icon-circle"><a href="#"><i class="fab fa-google-plus-g"></i></a></div>
            <div class="icon-circle"><a href="#"><i class="fab fa-vk"></i></a></div>
        </div>
        <p class="cookies">Terms & Conditions / Privacy policy & Cookies</p>
    </div>
</div>