<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}
            {{ title|title }}
        {% endblock %}
    </title>
    {% block css %}
        <link rel="stylesheet" href="{% static 'style/style.css' %}">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;700&display=swap" rel="stylesheet">
<!--        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">-->
    {% endblock %}
    {% block js %}
        <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
        <script src="{% static 'js/basket_scripts.js' %}"></script>
        <script src="https://kit.fontawesome.com/9d0fccc099.js" crossorigin="anonymous"></script>
    {% endblock  %}
</head>
<body>
<div class="container">
    {% block menu %}
        {% include 'mainapp/includes/inc_main_menu.html' %}
    {% endblock %}
        <div class="basket_container">
            <div class="h2 text-center head">
                Корзина
            </div>

            {% block content %}

            {% endblock %}
        </div>
    {% block products %}
    {% endblock %}
    {% block footer %}
        {% include 'mainapp/includes/inc_footer.html' %}
    {% endblock %}
</div>

</body>

</html>