{% extends 'adminapp/base.html' %}
{% load static %}

{% block content %}
    <div class="category-delete">
        Уверены, что хотите удалить {{ object.name }}?
        <form action="{% url 'admin:category_delete' object.pk %}" method="post">
            {% csrf_token %}
            <input type="submit" class="btn btn-danger" value="удалить">
        </form>
        <button class="btn btn-success">
            <a href="{% url 'admin:categories' %}">Отмена</a>
        </button>
    </div>
{% endblock %}