{% extends 'adminapp/base.html' %}
{% load static %}

{% block content %}
{% load my_tags %}
<div class="users-list">
    {% include 'adminapp/includes/inc_admin_nav.html' %}
    <div class="admin-users-list">
        <div class="users">
            <p>Пользователи ({{ object_list.count }})</p>
        </div>
        <div class="users-div">
            <div class="users-grid">
                <p>Name/Mail</p>
                <p>Change</p>
                <p>Last activity</p>
                <p>Age</p>
            </div>
            <div class="user-grid">
                {% for object in object_list %}
                <div class="users-grid-username">
                    <img src="{{ object.avatar|media_folder_users }}"
                            alt="{{ object.username }}" class="user-image">
                    <div class="username">
                        <p><strong>{{ object.username }}</strong></p>
                        <p>
                            {% if object.first_name %}
                            <b>{{ object.first_name|title }}</b>
                            {% if object.last_name %}
                        <p>{{ object.last_name|title }}</p>
                        {% endif %}
                        {% endif %}
                        </p>
                    </div>
                    <p>
                        email:<br>
                        {{ object.email }}
                    </p>
                </div>
                <div class="user-role">
                    <div class="role-name">
                        {% if object.is_superuser %}
                        Администратор
                        {% else %}
                        Пользователь
                        {% endif %}
                    </div>
                    <div class="admin-actions">
                        <button>
                            <a href="{% url 'admin:user_update' object.pk %}">
                                редактировать
                            </a>
                        </button>
                        <button>
                            <a href="{% url 'admin:user_delete' object.pk %}">
                                удалить
                            </a>
                        </button>
                    </div>
                </div>
                <div class="user_lastlogin">
                    logged:<br>
                    {{ object.last_login }}
                </div>
                <div class="user_age">
                    age:<br>
                    {{ object.age }} лет
                </div>
                {% endfor %}
            </div>

        </div>

    </div>

</div>
{% endblock %}