{% extends 'mainapp/base.html' %}

{% load static %}

{% block header %}
    <div class="contacts-text">
        <p>Our Products Range</p>
    </div>
{% endblock %}

{% block content %}
    <div class="main">
            <div class="main-catalog">
                <div class="catalog-header">
                    {% include 'mainapp/includes/inc_product_selector.html' %}
                </div>
                <div class="catalog">
                    <ul class="products-ul catalog-ul">
                        {% for item in catalog_products %}
                            <li>
                                <div>
                                    <img class="product-img" src="/media/{{ item.image }}" alt="">
                                    <div class="prod-hover">
                                        <a href="{% url 'catalog:product' item.pk %}" class="button2"><img src="{% static 'img/arrow.svg' %}"
                                                alt=""></a>
                                        <p class="name">{{item.name}}</p>
                                        <p class="desc">{{item.short_desc}}</p>
                                    </div>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="refresh"><a href="#"><i class="fa fa-sync-alt"></i></a></div>
            </div>
            <div class="prod-promo">
                <div class="sub-promo">
                    <div class="sub-one"><img src="{% static 'img/promo-img-1.jpg' %}" alt="">
                        <div class="promo-text">
                            <p class="promo-header">exclusive</p>
                            <h3 class="promo-name">Fishnet Chair</h3>
                            <p class="promo-content">Seat and back with upholstery made of cold cure foam. Steel frame,
                                available in matt </p> <a href="{% url 'catalog:product' 0 %}" class="button">ORDER US <img
                                    class="arrow" src="{% static 'img/arrow.svg' %}" alt=""></a>
                        </div>
                    </div>
                </div>
                <div class="sub-promo">
                    <div class="sub-two"><img src="{% static 'img/promo-img.jpg' %}" alt="">
                        <div class="promo-text">
                            <p class="promo-header">exclusive</p>
                            <h3 class="promo-name">Fishnet Chair</h3>
                            <p class="promo-content">Seat and back with upholstery made of cold cure foam. Steel frame,
                                available in matt </p> <a href="{% url 'catalog:product' 0 %}" class="button">ORDER US <img
                                    class="arrow" src="{% static 'img/arrow.svg' %}" alt=""></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}