{% extends 'mainapp/base.html' %}

{% load static %}

{% block header %}
    <div class="contacts-text">
        <p>Contact Us</p>
    </div>
{% endblock %}

{% block content %}
    <div class="main">
            <div class="main-contacts">
                <div class="block-contacts">
                    {% for contact in contacts %}
                    <div class="contact-block"> <i class="fas fa-map-marker-alt"></i>
                        <div class="contact-text">
                            <h3 class="contact">{{ contact.city }}</h3>
                            <br>
                            <p class="contact-header">Phone:</p>
                            <p class="contact-content">{{ contact.phone }}</p>
                            <br>
                            <p class="contact-header"> Email: </p>
                            <p class="contact-content">{{ contact.email }}</p>
                            <br>
                            <p class="contact-header"> Address: </p>{{ contact.address }}</div>
                    </div>
                    {%  endfor %}
                </div>
            </div>
        </div>
{% endblock %}