{% extends 'mainapp/base.html' %}

{% load static %}

{% block menu %}
    <div class="header" style="background-color: white">
        <div class="logo">
            <a href="{% url 'main' %}"><img src="{% static 'img/logo.svg' %}" alt=""></a>
        </div>
        <div class="menu">
            <ul class="menu-list">
                <li> <a href="{% url 'main' %}">HOME</a> </li>
                <li> <a href="{% url 'catalog:index' %}">PRODUCTS</a> </li>
                <li> <a href="#">HISTORY</a> </li>
                <li> <a href="#">SHOWROOM</a> </li>
                <li> <a href="{% url 'contact' %}">CONTACT</a> </li>
                <li class="search"> <a href="#"><img src="{% static 'img/search.svg' %}" alt=""></a> </li>
            </ul>
        </div>
    </div>
{% endblock %}

{% block header %}
    <div class="product-selector">
        {% include 'mainapp/includes/inc_product_selector.html' %}
    </div>
{% endblock %}

{% block content %}
    <div class="main">
            <div class="product-page">
                <div class="product-images">
                    <div class="product-big-image">
                        <a href="#"><img src="{% static 'img/slider-1.jpg' %}" alt=""></a>
                    </div>
                    <div class="product-small-images">
                        <a href="#"><img src="{% static 'img/controll.jpg' %}" alt=""></a>
                        <a href="#"><img src="{% static 'img/controll-11.jpg' %}" alt=""></a>
                        <a href="#"><img src="{% static 'img/controll-2.jpg' %}" alt=""></a>
                    </div>
                </div>
                <div class="product-text">
                    <p class="product-name">Fishnet Chair</p>
                    <p class="product-header">Hot Deal</p>
                    <div class="product-price">
                        <p>$</p>
                        <p>36.7</p>
                        <p>/sq</p>
                    </div> <a href="#" class="buy-button">order us <img src="{% static 'img/arrow-w.svg' %}" alt=""></a>
                    <p class="description">The majesty of Mountains - Ugmonk style.
                        <br>
                        <br>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                        <br>
                        <br> et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        <br>
                        <br> Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.</p>
                </div>
            </div>
            <div class="trending">
                <div class="trending-header">
                    <p>Trending Products</p> <a class="explore" href="#">explore all <img src="{% static 'img/arrow.svg' %}" alt=""></a> </div>
                <div class="trending-catalog">
                    <ul class="products-ul catalog-ul">
                        <li>
                            <div><img class="product-img" src="{% static 'img/product-11.jpg' %}" alt="">
                                <div class="prod-hover">
                                    <a href="{% url 'fishnet-chair' %}" class="button2"><img src="{% static 'img/arrow.svg' %}"
                                            alt=""></a>
                                    <p class="name">Fishnet Chair</p>
                                    <p class="desc">Seat and back with upholstery made of cold cure foam.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div><img class="product-img" src="{% static 'img/product-21.jpg' %}" alt="">
                                <div class="prod-hover">
                                    <a href="{% url 'fishnet-chair' %}" class="button2"><img src="{% static 'img/arrow.svg' %}"
                                            alt=""></a>
                                    <p class="name">Fishnet Chair</p>
                                    <p class="desc">Seat and back with upholstery made of cold cure foam.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div><img class="product-img" src="{% static 'img/product-31.jpg' %}" alt="">
                                <div class="prod-hover">
                                    <a href="{% url 'fishnet-chair' %}" class="button2"><img src="{% static 'img/arrow.svg' %}"
                                            alt=""></a>
                                    <p class="name">Fishnet Chair</p>
                                    <p class="desc">Seat and back with upholstery made of cold cure foam.</p>
                                </div>
                            </div>
                        </li>
                        </ul>
                </div>
            </div>
        </div>
{% endblock %}