<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="/static/style/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/9d0fccc099.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="container">
        <div class="product-header">
            <div class="header">
                <div class="logo">
                    <a href="/"><img src="/static/img/logo.svg" alt=""></a>
                </div>
                <div class="menu">
                    <ul class="menu-list">
                        <li> <a href="/">HOME</a> </li>
                        <li> <a href="/catalog/">PRODUCTS</a> </li>
                        <li> <a href="#">HISTORY</a> </li>
                        <li> <a href="#">SHOWROOM</a> </li>
                        <li> <a href="/contact/">CONTACT</a> </li>
                    </ul>
                </div>
                <div class="search">
                    <a href="#"><img src="/static/img/search.svg" alt=""></a>
                </div>
            </div>
        </div>
        <div class="main">
            <div class="product-selector">
                <ul>
                    <li><a href="#">ALL</a></li>
                    <li><a href="#">HOME</a></li>
                    <li><a href="#">OFFICE</a></li>
                    <li><a href="#">FURNITURE</a></li>
                    <li><a href="#">MODERN</a></li>
                    <li><a href="#">CLASSIC</a></li>
                </ul>
            </div>
            <div class="product-page">
                <div class="product-images">
                    <div class="product-big-image">
                        <a href="#"><img src="/static/img/slider-1.jpg" alt=""></a>
                    </div>
                    <div class="product-small-images">
                        <a href="#"><img src="/static/img/controll.jpg" alt=""></a>
                        <a href="#"><img src="/static/img/controll-11.jpg" alt=""></a>
                        <a href="#"><img src="/static/img/controll-2.jpg" alt=""></a>
                    </div>
                </div>
                <div class="product-text">
                    <p class="product-name">Fishnet Chair</p>
                    <p class="product-header">Hot Deal</p>
                    <div class="product-price">
                        <p>$</p>
                        <p>36.7</p>
                        <p>/sq</p>
                    </div> <a href="#" class="buy-button">order us <img src="/static/img/arrow-w.svg" alt=""></a>
                    <p class="description">The majesty of Mountains - Ugmonk style.
                        <br>
                        <br>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                        <br>
                        <br> et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        <br>
                        <br> Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.</p>
                </div>
            </div>
            <div class="trending">
                <div class="trending-header">
                    <p>Trending Products</p> <a class="explore" href="#">explore all <img src="/static/img/arrow.svg" alt=""></a> </div>
                <div class="trending-catalog">
                    <ul class="products-ul catalog-ul">
                        <li>
                            <div><img class="product-img" src="/static/img/product-11.jpg" alt="">
                                <div class="prod-hover">
                                    <a href="/fishnet-chair/" class="button2"><img src="/static/img/arrow.svg"
                                            alt=""></a>
                                    <p class="name">Fishnet Chair</p>
                                    <p class="desc">Seat and back with upholstery made of cold cure foam.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div><img class="product-img" src="/static/img/product-21.jpg" alt="">
                                <div class="prod-hover">
                                    <a href="/fishnet-chair/" class="button2"><img src="/static/img/arrow.svg"
                                            alt=""></a>
                                    <p class="name">Fishnet Chair</p>
                                    <p class="desc">Seat and back with upholstery made of cold cure foam.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div><img class="product-img" src="/static/img/product-31.jpg" alt="">
                                <div class="prod-hover">
                                    <a href="/fishnet-chair/" class="button2"><img src="/static/img/arrow.svg"
                                            alt=""></a>
                                    <p class="name">Fishnet Chair</p>
                                    <p class="desc">Seat and back with upholstery made of cold cure foam.</p>
                                </div>
                            </div>
                        </li>
                </div>
            </div>
            <div class="footer">
                <div class="footer-top">
                    <div class="contact">
                        <h3 class="footer-header">Contact Us</h3>
                        <div class="footer-text">
                            <p class="contacts">132A Bridge Road Richmond VIC Australia.
                                <br>
                                <br> Talk to us on 1300 132 info@interior.com</p>
                        </div>
                    </div>
                    <div class="info">
                        <h3 class="footer-header">Useful Information</h3>
                        <div class="footer-text">
                            <div class="info-footer-text">
                                <p class="info-footer1"> <a href="#">Sales terms</a> <a href="#">Customer care</a> <a href="#">Delivery</a> </p>
                                <p class="info-footer2"> <a href="#">Architect accounts</a> <a href="#">Careers Exchanges & returns</a> </p>
                            </div>
                        </div>
                    </div>
                    <div class="keep-in-touch">
                        <h3 class="footer-header">Let’s Stay in Touch!</h3>
                        <div class="footer-text">
                            <p class="touch-footer">Suscribe to know about our latest news, products and special offers just for suscribers.</p>
                            <input class="input-footer" type="text" placeholder="your email adress"> </div>
                    </div>
                </div>
                <div class="footer-low">
                    <p class="copy">© Copyright - INTERIOR 2016. All Rights Reserved.</p>
                    <div class="footer-icons">
                        <div class="icon-circle"><a href="#"><i class="fab fa-facebook-f"></i></a></div>
                        <div class="icon-circle"><a href="#"><i class="fab fa-twitter"></i></a></div>
                        <div class="icon-circle"><a href="#"><i class="fab fa-google-plus-g"></i></a></div>
                        <div class="icon-circle"><a href="#"><i class="fab fa-vk"></i></a></div>
                    </div>
                    <p class="cookies">Terms & Conditions / Privacy policy & Cookies</p>
                </div>
            </div>
        </div>
    </div>
</body>

</html>